* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  color: green;
}

h1,
h4 {
  margin: 10px;
}

.container {
  position: fixed;
  top: 55%;
  left: 50%;
  width: 50rem;
  height: 30rem;
  border: 2px solid green;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}
#isDiv {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 2px;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  left: 50%;
  background-color: orange;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}
#btn-start {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 2px;
  transform: translate(-50%, -50%);
}
